ul.cards-box
      li.cards-box__unit
        img.cards-box__image(src='../img/card1.png', alt='product-card')
        .cards-box__details
          span.cards-box__name Coalesce: Functioning On Impatience T-Shirt
          .cards-box__price-and-cart
            span.cards-box__price 
              | $
              span.cards-box__price-number 15.
              | 00
            a.cards-box__to-cart(href='#') Add to Cart
          .cards-box__rating
            .cards-box__rating-stars
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
          .cards-box__description
            p.cards-box__description-info When you're dress-hunting, you want to find something that's fun, comfortable, flattering, and uniquely you! So, why not start with a sundress? They always brighten up the environment around you and inspire positivity wherever you go! Looking for some color to brighten up your day? Check out the cotton sundresses. 
      li.cards-box__unit
        img.cards-box__image(src='../img/card2.png', alt='product-card')
        .cards-box__details
          span.cards-box__name Ink Eater: Krylon Bombear Destroyed Tee
          .cards-box__price-and-cart
            span.cards-box__price 
              | $
              span.cards-box__price-number 22.
              | 00
            a.cards-box__to-cart(href='#') Add to Cart
          .cards-box__rating
            .cards-box__rating-stars
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
          .cards-box__description
            p.cards-box__description-info When you're dress-hunting, you want to find something that's fun, comfortable, flattering, and uniquely you! So, why not start with a sundress? They always brighten up the environment around you and inspire positivity wherever you go! Looking for some color to brighten up your day? Check out the cotton sundresses. 
      li.cards-box__unit
        img.cards-box__image(src='../img/card3.png', alt='product-card')
        .cards-box__details
          span.cards-box__name The Only Children: Paisley T-Shirt
          .cards-box__price-and-cart
            span.cards-box__price 
              | $
              span.cards-box__price-number 55.
              | 00
            a.cards-box__to-cart(href='#') Add to Cart
          .cards-box__rating
            .cards-box__rating-stars
              i.fa.fa-star
          .cards-box__description
            p.cards-box__description-info When you're dress-hunting, you want to find something that's fun, comfortable, flattering, and uniquely you! So, why not start with a sundress? They always brighten up the environment around you and inspire positivity wherever you go! Looking for some color to brighten up your day? Check out the cotton sundresses. 
      li.cards-box__unit
        img.cards-box__image(src='../img/card1.png', alt='product-card')
        .cards-box__details
          span.cards-box__name Coalesce: Functioning On Impatience T-Shirt
          .cards-box__price-and-cart
            span.cards-box__price 
              | $
              span.cards-box__price-number 15.
              | 00
            a.cards-box__to-cart(href='#') Add to Cart
          .cards-box__rating
            .cards-box__rating-stars
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
          .cards-box__description
            p.cards-box__description-info When you're dress-hunting, you want to find something that's fun, comfortable, flattering, and uniquely you! So, why not start with a sundress? 
      li.cards-box__unit
        img.cards-box__image(src='../img/card4.png', alt='product-card')
        .cards-box__details
          span.cards-box__name Zolof The Rock And Roll Destroyer: LOL Cat T-shirt
          .cards-box__price-and-cart
            span.cards-box__price 
              | $
              span.cards-box__price-number 13.
              | 50
            a.cards-box__to-cart(href='#') Add to Cart
          .cards-box__rating
            .cards-box__rating-stars
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
          .cards-box__description
            p.cards-box__description-info When you're dress-hunting, you want to find something that's fun, comfortable, flattering, and uniquely you! So, why not start with a sundress? They always brighten up the environment around you and inspire positivity wherever you go! Looking for some color to brighten up your day? Check out the cotton sundresses. 
      li.cards-box__unit
        img.cards-box__image(src='../img/card5.png', alt='product-card')
        .cards-box__details
          span.cards-box__name The Get Up Kids: Band Camp Pullover Hoodie
          .cards-box__price-and-cart
            span.cards-box__price 
              | $
              span.cards-box__price-number 12.
              | 30
            a.cards-box__to-cart(href='#') Add to Cart
          .cards-box__rating
            .cards-box__rating-stars
              i.fa.fa-star
          .cards-box__description
            p.cards-box__description-info When you're dress-hunting, you want to find something that's fun, comfortable, flattering, and uniquely you! So, why not start with a sundress? They always brighten up the environment around you and inspire positivity wherever you go! Looking for some color to brighten up your day? Check out the cotton sundresses. 
      li.cards-box__unit
        img.cards-box__image(src='../img/card6.png', alt='product-card')
        .cards-box__details
          span.cards-box__name Kenneth Cole New York Men's Con-verge Slip-on
          .cards-box__price-and-cart
            span.cards-box__price 
              | $
              span.cards-box__price-number 169.
              | 99
            a.cards-box__to-cart(href='#') Add to Cart
          .cards-box__rating
            .cards-box__rating-stars
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
          .cards-box__description
            p.cards-box__description-info When you're dress-hunting, you want to find something that's fun, comfortable, flattering, and uniquely you! 
      li.cards-box__unit
        img.cards-box__image(src='../img/card7.png', alt='product-card')
        .cards-box__details
          span.cards-box__name ASICS® Men's GEL-Kayano® XII
          .cards-box__price-and-cart
            span.cards-box__price 
              | $
              span.cards-box__price-number 134.
              | 99
            a.cards-box__to-cart(href='#') Add to Cart
          .cards-box__rating
            .cards-box__rating-stars
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
          .cards-box__description
            p.cards-box__description-info When you're dress-hunting, you want to find something that's fun, comfortable, flattering, and uniquely you! So, why not start with a sundress? They always brighten up the environment around you and inspire positivity wherever you go! Looking for some color to brighten up your day? Check out the cotton sundresses. 
      li.cards-box__unit
        img.cards-box__image(src='../img/card8.png', alt='product-card')
        .cards-box__details
          span.cards-box__name CN Clogs Beach/Garden Clog
          .cards-box__price-and-cart
            span.cards-box__price 
              | $
              span.cards-box__price-number 15.
              | 99
            a.cards-box__to-cart(href='#') Add to Cart
          .cards-box__rating
            .cards-box__rating-stars
              i.fa.fa-star
          .cards-box__description
            p.cards-box__description-info When you're dress-hunting, you want to find something that's fun, comfortable, flattering, and uniquely you! So, why not start with a sundress? They always brighten up the environment around you and inspire positivity wherever you go! Looking for some color to brighten up your day? Check out the cotton sundresses. 